
/* material-mkdocs color customization */
:root {
  --md-primary-fg-color:  #7A1705;
  /* #990000;*/

  --md-accent-fg-color:   #01426A;
}

:root>* {
/*  #{hex2hsl($clr-indigo-500)} */
    --md-typeset-a-color:       hsla(201,100%,30%,1);
    --md-footer-bg-color:       hsla(320, 32%, 24%, 1);
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, .32);

}

/* Enable better nested ordered lists, automatically part of Material theme!*/
/*
ol ol { list-style-type: lower-alpha; }
ol ol ol { list-style-type: lower-roman; }
*/

.md-typeset ul ul {
  list-style: circle;
}
